/* DefaultPage.css */

.default-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
  }
  
  .text-content {
    flex: 1;
    padding: 20px;
  }
  
  .image-content {
    flex: 1;
    padding: 20px;
  }
  
  .text-content h1 {
    font-size: 36px; 
    margin-bottom: 20px;
  }
  
  .text-content p {
    font-size: 20px; 
    margin-bottom: 20px; 
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    max-height: 500px; 
  }
  